body{
    background: #BE93C5;
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
    background: linear-gradient(to right, #7BC6CC, #BE93C5);
}

a{
    text-decoration: none;
    color: inherit;
}

.show{
    top: 10px !important;
}