@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1rem;
}

body{
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.container .calc{
    padding: 30px 30px 40px 30px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(6, 60px);
    grid-gap: 12px 12px;
    border-radius: 10px;
    background: #FFF8F6;
    transition: all 50ms ease-in;
}

.container .calc .display{
    grid-column: 1/5;
    border-radius: 15px;
    border: 2px solid #ffdfd1;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 8px;
    background: transparent;
    text-align: right;
    color: #291800;
    cursor: default;
    outline: none;
    transition: all 50ms ease-in;
}

.container .calc .button{
    border-radius: 10px;
    border: none;
    transition: all 50ms ease-in;
    cursor: pointer;
}

.container .calc .app-mode{
    border-radius: 999px;
    border: none;
    transition: all 50ms ease-in;
    cursor: pointer;
}

.container .calc .button:hover{
    transform: scale(1.06);
}

.container .calc .app-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #F0F0F0;
}

.container .calc .app-mode:hover{
    transform: scale(1.06);
}

.container .calc .app-mode img{
    width: 35px;
}

.container .calc .AC, .container .calc .C{
    background: #FFDDB2;
    color: #291800;
}

.container .calc .AC{
    grid-column: 1/3;
}

.container .calc .numbers{
    background: #FAEEE9;
    color: #584239;
}

.container .calc .operators{
    background: #FFDCC3;
    color: #2F1500;
}

.container .calc .equal-to{
    background: #FFDBCE;
    color: #370E00;
}

.container .calc .app-mode{
    background: transparent;
}